* {
    box-sizing: border-box;
}

body {
    background: black;
    box-sizing: border-box;
}

#container {
   text-align: center;
}

.cell {
    width: 3vw;
    height: 2.7vw;
    background: rgb(126,214,255);
    background: radial-gradient(circle, rgba(126,214,255,1) 0%, rgba(93,171,255,1) 100%);
    box-shadow: 0 0 1px 2px #202020;
    line-height: 20px;
    font-size: 20px;
    font-weight: bold;
    background-size: contain;
    border: 4px solid transparent;
}
#timer {
  color : white;
}

.border {
  animation: 300ms ease-in mymove ;
}

@keyframes mymove {
  from {border: 4px solid red;}
  to {border: 4px solid transparent;}
}

